{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        Chat
    </div>
    <div class="card-body">
        <div class="list-group">
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Hola Juan</h5>
                    <small>20:54</small>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Tengo dudas</h5>
                    <small>20:55</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
