{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        Inserte su Pregunta
    </div>
    <div class="card-body">
        <form method="post" action="{{ url_for('add_user') }}">
            <div class="form-group">
                <label for="title">Título:</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="question">Pregunta:</label>
                <textarea class="form-control" id="question" name="question" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Insertar pregunta</button>
        </form>
    </div>
</div>
<div class="card mt-4">
    <div class="card-header">
        Historial de tus preguntas
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">Título: Reclamo - 24 de junio de 2024 a las 20:54</li>
        </ul>
    </div>
</div>
{% endblock %}
